// Styling markdown output

// Code formatting
pre {
    border-left: $spacer-1 solid $color-border;
    margin: $spacer-3 0;
    padding-left: 16px;
    width: (9 / 12 * 100%); // matches col-9
    overflow-x: auto;
}

code {
    color: $color-code;
    padding: 1px 0px;
}


.prose {

  a {
    color: $blue-dark;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  p, ol, ul {
    width: 100%;

    @media (min-width: $breakpoint-lg) {
      width: (10 / 12 * 100%); // matches col-10
    }

  }

  ul, ol {
    padding-left: 40px;
  }

  img {

    max-width: 100%;

    @media (min-width: $breakpoint-lg) {
      max-width: (12 / 10 * 100%); // make image fill width of container on desktop
    }

  }

  blockquote {
    font-size: 1.15em;
    line-height: 1.375;
    padding-left: 20px;
    margin: 40px 0 40px -16px;
    border-left: $spacer-1 solid $color-border;
    font-style: italic;
    color: $color-text-accent;

    @media (min-width: $breakpoint-lg) {
      padding-left: $spacer-3;
      margin: $spacer-4 0 $spacer-4 -40px;
      max-width: (11 / 10 * 100%);
    }

  }

  hr {
    color: $color-title;
    border-style: solid;
    border-width: thin;
    margin-top: 2em;
    margin-bottom: -2em;
    width: 50%;
    margin-left: 15%;
    text-align: center;
  }

  dl {
	  margin-left: 1em;
  }
  dt {
    font-weight: bold;
    line-height: 1.25;
  }

  dd {
    margin-bottom: 0.5em;
  }

  // Markdown tables
  table {
    border-collapse: collapse;
    // width: 100%;
    margin-bottom: .5em;
    overflow: auto;
    // For Firefox to horizontally scroll wider tables.
    word-break: normal;
    word-break: keep-all;

    th {
      font-weight: bold;
      text-align: left;
      color: $color-title;
    }

    th, td {
      padding: 6px 8px;
      vertical-align: middle;
    }

    // https://stackoverflow.com/a/54513957
    thead tr th {
      background-color: white;
      position: sticky;
      z-index: 100;
      top: 0;
    }

    tr th {
      border-top: 1px solid $color-title;
      border-bottom: 1px solid $color-title;
    }
    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
      border-bottom: 1px solid $color-border;
    }
    &.table-multi tbody td {
      background-color: white;
      border-bottom: 1px solid $color-title;
    }
    thead tr:first-child th {
      border-top: 2px solid $color-title;
    }
    tbody tr:last-child {
      border-bottom: 2px solid $color-title;
    }

    &.member-list {
      width: 100%;
    }

    &.member-list tr td ul {
      font-size: 0.9em;
      margin: 0;
      list-style: none;
      padding-left: 1em;
      text-indent: -1em;
    }

    &.schedule {
      th, td {
        text-align: center;
        width: 5em;
      }
    }

    &.distribution {
      width: 100%;

      thead tr th {
        position: sticky;
        top: 0;
        background-color: white;
      }

      tr.category td {
        font-weight: bold;
        background-color: #dbdcde;
        border-top: 1px solid $color-title;
      }
      tr.subcategory td:first-child {
        padding-left: 2em;
      }

      thead, tbody {
        th, td {
          &:nth-child(n+2) {
            text-align: center;
          }
        }
      }
    }
  }
}

// specific to pages with table of contents
.toc {
  background-color:blue-light;
  padding:30px;
  position:fixed;
  box-sizing:border-box;
  top:0px;
  height:100%;
  width:300px;
  left:0px;

  li { list-style-type: none; margin-bottom:6px; }
  li:first-child { margin-top:20px; }
  a {
    color:$blue-dark;
  }
}

// automatically adds "Table of Contents" title
.toc:before {
  content:"Table of Contents";
  color:$blue-dark;
  font-weight:bold;
  font-size: $h2-size;
}

nav {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  position: sticky;
}

.navbar-nav {
  margin-top: 0;
}


.training-question {
  background-color: #eeff00f5;
  border: 2px black solid;
  border-radius: 8px;
  padding: 2%;
}

.last-updated {
  margin-top: 0;
  font-size: 0.9em;
  color: $gray;
}

/* used for a large link which spans the width of the content */
.important-link {
  // background-color:$blue-light-2;
  padding:1em 1.5em;
  border-radius:4px;
  margin-bottom:16px;

  a:first-child {
    font-weight:bold;
    margin-bottom:8px;
    font-size:1.2em;
    display:block;
  }

  &:nth-child(even) {
    background-color:$blue-light-2;
  }
  &:nth-child(odd) {
    background-color:$blue-light-3;
  }
}
