// ACF theme

// Color variables
$black:      #111;
$blue-dark:  #023B7F;
$blue:       #4279C1;
$blue-light: #7EB7FD;
$blue-light-2: #d9eaff; // a lighter color for backgrounds
$blue-light-3: #d9f1fc; // another light background color; a more teal shade
$gray:       #929292;
$gray-light: #C8C8C8;
$white:      #fff;

// Config
$color-background:   $white      !default;
$color-dot-accent:   $blue-light !default;
$color-foreground:   $blue-dark  !default;
$color-title:        $blue-dark  !default;
$color-body-text:    $black      !default;
$color-text-accent:  $blue       !default;
$color-code:         $blue       !default;
$color-nav-link:     $blue-light !default;
$color-primary-link: $blue-light !default;


// Import sass partials (used in all themes)
@import
    "variables",
    "base",
    "components",
    "utilities",
    "table-columns",
    "bootstrap/bootstrap"
;
