<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">
        {% include navbar.html %}

        <div class="container mx-auto px-2 mb-2 clearfix">
          <h1 class="h0-title inline-block sm-width-full py-2 mt-3 header-title">{{ site.title }}</h1>
          <p class="h3 lh-condensed font-weight-bold mt-2">{{ site.tagline}}</p>
          <p class="h4 lh-condensed font-smoothing col-8">{{ site.description }}</p>
          <div class="clearfix mb-4 py-1">
            <div class="col-8 sm-width-full left">
              <div class="table">
                <div class="inline-block mt-3 mr-1">
                  {% include twitter-logo.html %}
                </div>
                <div class="inline-block mt-3 mr-1">
                  {% include facebook-logo.html %}
                </div>
                <div class="inline-block mt-3">
                  {% include mail-logo.html %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

    </div>

  </body>

</html>
